.content 
    width: 80%
    padding: 20px 30px 
    &_header
        text-align: center
        font-size: 25px
        color: white
        margin-bottom: 25px
    span, ul
        display: block
        margin-top: 10px
        color: white
    pre 
        border-radius: 15px
        background-color: #CFCFCF
        font-size: 15px